<article class="post">
	<header class="post-header">
    {{ with .Params.image }}
      <img src="{{ . }}"></img>
    {{ end }}
		<h2 class="post-title"><a href="{{ .URL }}">{{ .Title }}</a></h2>
	</header>
	<section class="post-excerpt">
    <p>
      {{ .Summary }} &hellip; <a class="read-more" href="{{ .URL }}">&raquo;</a>
    </p>
	</section>
	<footer class="post-meta">
    <time class="post-date">{{ .Date.Format (.Site.Params.dateFormatToUse | default "January 02, 2006")  }}</time>
	</footer>
</article>
